# don't need github tracking neovim's shada files
shade/
*.shada

# don't need this being tracked
.netrwhist

# don't need to track this...
nvim/log

# nope
lvim/lazy-lock.json

# backup files are cringe
*.bak

# kitty things
/kitty/*.json
